primary_conninfo = 'host={{ postgres_runtime_model.primary_expected_ip | replace("'", "''") }} port={{ postgres_runtime_model.port }} user={{ postgres_runtime_model.replication_user | replace("'", "''") }} password={{ postgres_runtime_secret_map.POSTGRES_REPLICATION_PASSWORD | replace("'", "''") }} application_name={{ postgres_runtime_model.replication_slot | replace("'", "''") }} sslmode=prefer connect_timeout={{ postgres_runtime_model.standby_connection.connect_timeout_seconds }} keepalives=1 keepalives_idle={{ postgres_runtime_model.standby_connection.keepalives_idle_seconds }} keepalives_interval={{ postgres_runtime_model.standby_connection.keepalives_interval_seconds }} keepalives_count={{ postgres_runtime_model.standby_connection.keepalives_count }} tcp_user_timeout={{ postgres_runtime_model.standby_connection.tcp_user_timeout_ms }}'
primary_slot_name = '{{ postgres_runtime_model.replication_slot | replace("'", "''") }}'
