---
services:
  softether-p2p-client:
    image: {{ softether_p2p_client_image }}
    container_name: {{ softether_p2p_client_container_name }}
    cap_add:
      - NET_ADMIN
    sysctls:
      net.ipv4.ip_forward: "1"
    devices:
      - /dev/net/tun:/dev/net/tun
    volumes:
      - ./softether_data:/mnt
      - /etc/localtime:/etc/localtime:ro
    restart: always
    networks:
      {{ softether_p2p_model.network_name }}:
        ipv4_address: {{ softether_p2p_model.container_ipv4 }}

networks:
  {{ softether_p2p_model.network_name }}:
    external: true
